*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 40px;
    font-family: 'Tahoma';
}

.text {
    padding: 10px;
}

.container {
    width: 100%;
}
.square-container {
    width: 100px;
    height: 150px;
    background: #eeeff2;
    border-left: 10px dotted #D0D0FF;
    margin: 10px;
}

.square-container3 {
    position: fixed;
    bottom: 0;
    right: 0;
}
.styleA{
    display: flex;
    flex-direction: row;
    height: 150px;
}

.square-container:hover{
    cursor:pointer;
    background: yellow;
    color: goldenrod;
}
.square-right{
    display: flex;
    align-items: flex-end;
}

.styleC{
    height: 400px;
    width: 300px;
    background-image: linear-gradient(to right, green, yellow);
    margin-top: 200px;
    margin-left: 100px;
    transition: width 2s;
}
h1{
    font-family: 'Internet-specific';
    text-shadow: 2px 2px;
}

.styleC:hover{
    width: 200px;
}
.styleC:hover h1{
    text-align: center;
}